<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawCharts);
    var isItDrawing = false;
    var topicNumber = 0;

    var clickedButton = {
        'chartArea': { 'width': '90%', 'height': '90%' },
        'legend': { 'position': 'none' },
        "pieSliceText": 'label',
        'tooltip': { trigger: 'none' },
        slices: {
            0: { color: 'pink' }
        },

        backgroundColor: 'transparent'

    };

    //The button chart
    var optionsButton = {
        'chartArea': { 'width': '100%', 'height': '100%' },
        'legend': { 'position': 'none' },
        "pieSliceText": 'label',
        'tooltip': { trigger: 'none' },
        slices: {
            0: {
            	color: '#C23629'
            }
        },

        backgroundColor: 'transparent',
        pieSliceTextStyle: { color: 'black' },
        pieSliceBorderColor: 'black'

    };


    function drawCharts() {

        var dataButton = google.visualization.arrayToDataTable([
          ['-', '-'],
          ["Click me to Request Next Topic", 100],
        ]);

        var button = new google.visualization.PieChart(document.getElementById('button'));
        button.draw(dataButton, optionsButton);

        google.visualization.events.addListener(button, 'select', clickHandler);


        function clickHandler(e) {

            button = new google.visualization.PieChart(document.getElementById('button'));
            button.draw(dataButton, clickedButton);
            google.visualization.events.addListener(button, 'select', clickHandler);

            //Fobbing

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Fob", "Attendee")',
                    data: { meetingString: "@ViewBag.meetingId"},
                    success: function (result) {
                        
                    },
                    error: function(){
                        alert("Connection error");
                    }
                });

            setTimeout(function () {
                button = new google.visualization.PieChart(document.getElementById('button'));
                button.draw(dataButton, optionsButton);
                google.visualization.events.addListener(button, 'select', clickHandler);
            }, 50);

        }

        if (!isItDrawing) {
            runUpdate();
            isItDrawing = true;
        }
        

        var errorCounter = 0;
        function runUpdate() {
            setTimeout(runUpdate, 5000); //Run update every 5 second
            $.ajax({
                type: "POST",
                url: '@Url.Action("ImStillHere", "Attendee")',
                data: { meetingString: "@ViewBag.meetingId"},
                success: function (result) {
                    var returnedvalue = parseInt(result);
                    if (topicNumber != returnedvalue) {
                        alert("Topic changed to #" + returnedvalue);
                        topicNumber = returnedvalue;

                    }
                    //Refresh method which can be used for checking connection errors.
                    errorCounter = 0;

                },
                error: function () {
                    errorCounter++;
                    if (errorCounter >= 3) {
                        alert("Connection error. Returning to home page");
                        errorCounter = 0;
                        window.location = "index";
                    }
                    //alert("Sheep happens");
                }
            });
        }
    }

    //redraw graph when window resize is completed
    $(window).on('resizeEnd', function () {
        runUpdate();
    });

</script>

<h1>@ViewBag.title @ViewBag.meetingid</h1>

<body onresize="drawCharts()">


    <div id="centerOfPageForButton">

        <div id="button" style="width: 100%; height: 100%;"></div>

    </div>
</body>



<footer>
    
    @using (Html.BeginForm("ExitMeeting", "Attendee", FormMethod.Post))
    {
        <button class="footerButton" name="value" value=@ViewBag.user>Exit meeting</button>
    }
</footer>
