@{
//ViewBag.Title = "Host meeting page";
}
@* new topic, current users in meeting, voted users, exit meeting
	fix the h1 bug

*@


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

	google.charts.load("current", { packages: ["corechart"] });
	google.charts.setOnLoadCallback(drawCharts);
	var isItDrawing = false;

	var clickedButton = {
		'chartArea': { 'width': '90%', 'height': '90%' },
		'legend': { 'position': 'none' },
		"pieSliceText": 'label',
		'tooltip': { trigger: 'none' },
		slices: {
			0: { color: '#CE5A57' }
		},

		backgroundColor: 'transparent'

	};

	//The button chart
	var optionsButton = {
		'chartArea': { 'width': '90%', 'height': '90%' },
		'legend': { 'position': 'none' },
		"pieSliceText": 'label',
		'tooltip': { trigger: 'none' },
		slices: {
			0: {
				color: '#C23629'
			}
		},//button colour

		backgroundColor: 'transparent',
		pieSliceTextStyle: { color: 'black' },
		pieSliceBorderColor: 'black'
	};


	function drawCharts() {
		var data = google.visualization.arrayToDataTable([
		  ['Fobers', 'amount'],
		  ['Leave', 0],
		  ['Remain', 0]

		]);

		var dataButton = google.visualization.arrayToDataTable([
		  ['Language', 'Speakers (in millions)'],
		  ['Click for Next topic', 100],
		]);


		var options = {
			'chartArea': { 'width': '100%', 'height': '100%' },
			'legend': { 'position': 'none' },
			"pieSliceText": 'none',
			'tooltip': { trigger: 'none' },
			slices: {
				0: { color: '#EE311F' },//chart colour
				1: { color: 'transparent' }  //Change the color to w\e you like 
			},

			backgroundColor: 'transparent',
			pieSliceTextStyle: {
				color: 'black'
			}

		};



		var chart = new google.visualization.PieChart(document.getElementById('piechart'));
		chart.draw(data, options);
		var button = new google.visualization.PieChart(document.getElementById('button'));
		button.draw(dataButton, optionsButton);

		google.visualization.events.addListener(button, 'select', clickHandler);


		/*Colour the button piechart when click happens. Delay for a few milliseconds and change the color back.*/
		var counter = 0;
		function clickHandler(e) {

			$.ajax({ //Needs to check if the database is running/ can connect. If not should dc from room or tell the user
				type: "POST",
				url: '@Url.Action("Reset", "Host")',
				success: function (result) {
					//alert("successfull reset");
					var split = result.split(',')
					updateChart(split[0], split[1]);
				},
				error: function () {
					alert("Connection error");
				}
			});

			button = new google.visualization.PieChart(document.getElementById('button'));
			button.draw(dataButton, clickedButton);
			google.visualization.events.addListener(button, 'select', clickHandler);
			setTimeout(function () {
				button = new google.visualization.PieChart(document.getElementById('button'));
				button.draw(dataButton, optionsButton);
				google.visualization.events.addListener(button, 'select', clickHandler);
			}, 50);




		}

		function buttonBackToNormal() {
			var button = new google.visualization.PieChart(document.getElementById('button'));
			button.draw(dataButton, optionsButton);
		}

		if (!isItDrawing) {
			runUpdate();
			isItDrawing = true;
		}
		var errorCounter = 0;
		function runUpdate() { // host controller, refresh
			setTimeout(runUpdate, 1000);
			$.ajax({
				type: "POST",
				url: '@Url.Action("Refresh", "Host")',
				success: function (result) {
					var split = result.split(',') //attendees , number of people fobbed
					if (split.length == 2) {

						updateChart(split[0], split[1]);
						//alert("UpdateChart");
						var percent = (split[1] * 100) / split[0];
						//alert("Percent");
						if (percent > 100 || isNaN(percent)) {
							percent = 0;
							//  alert("in if");
						}
						//alert("after if");
						var name = "Click for Next Topic " + percent + "% " + "|| "+ split[1] +"/"+split[0];
						errorCounter = 0;
						dataButton = google.visualization.arrayToDataTable([
						['Language', 'Speakers (in millions)'],
						[name, 100],
						]);

						button = new google.visualization.PieChart(document.getElementById('button'));
						button.draw(dataButton, optionsButton);
						google.visualization.events.addListener(button, 'select', clickHandler);
						//alert("Done");
					} else {
						//alert(result);
					}
				},
				error: function () {
					errorCounter++;
					if (errorCounter >= 30) {
						alert("Connection error. Returning to home page")
						errorCounter = 0;
						window.location = "index";
					}
				}
			});
		}

		/*When it updates, for some reason it resizes the size of the pie chart in the background*/
		function updateChart(total, leavers) {// what is all this stuff? speakers in millions what???
			data = new google.visualization.arrayToDataTable([
		   ['Language', 'Speakers (in millions)'],
		   ['Leave', parseInt(leavers)],
		   ['Remain', parseInt(total - leavers)]
			]);


			var chart = new google.visualization.PieChart(document.getElementById('piechart'));
			chart.draw(data, options);

		}

	}


	/* $(window).resize(function () {
		 if (this.resizeTO) clearTimeout(this.resizeTO);
		 this.resizeTO = setTimeout(function () {
			 $(this).trigger('resizeEnd');
		 }, 500);
	 });*/

	//redraw graph when window resize is completed
	/*$(window).on('resizeEnd', function () {
		drawChart(data);
	});*/

	function hello() {
		alert("hello");
	}
</script>

<h1>@ViewBag.Title</h1>
<!--
<div id="hostPageIndex">
	<div>current users: @ViewBag.Attendees</div>
	<div>move on #: @ViewBag.Fobbed </div>
	<div>move on %: @ViewBag.Message </div>
	@* timed database query*@
	<div>next speaker buttone</div>

</div>
	-->
<body onresize="drawCharts()">

	<div id="centerOfPageForButton">
		<div id="piechart" style="width: 100%; height: 100%;"></div> <!-- why is this here -->
	</div>
	@using (Html.BeginForm("meetingPageUser", "Home", FormMethod.Post)) {
		<div id="centerOfPageForButton">

			<div id="button" style="width: 100%; height: 100%;"></div>

		</div>
	}

</body>


<footer>
    <div id="outer">


        <div class="inner">
            <a href="@Url.Action("QrCode","Host")" target="_blank">
                <button class="footerButton" id="buttonQRGen" name="message" value="Meeting left">QR Code</button>
            </a>
        </div>

        <div>
            <asp:Button ID="Button1" runat="server" Text="Button" onclick="Button1_Click"
                        OnClientClick="document.forms[0].target = '_blank';" />
        </div>

        <div class="inner">
            @using (Html.BeginForm("leave", "Host", FormMethod.Post))
        {
            <button class="footerButton" id="buttonLeave" name="message" value="Meeting left">Leave</button>
    }
        </div>
        <div class="inner">
            @using (Html.BeginForm("finish", "Host", FormMethod.Post))
        {
            <button class="footerButton" id="buttonExit" name="message" value="Finished meeting">Finish</button>
    }
        </div>
    </div>
</footer>
