<script type="text/javascript">

    var counter = 0;
    function reset() {
			$.ajax({ //Needs to check if the database is running/ can connect. If not should dc from room or tell the user
				type: "POST",
                url: '@Url.Action("Reset", "Host")',
                data: { meetingIdString : "@ViewBag.meetingid" },
                success: function (result) {

				},
				error: function () {
					alert("Connection error");
				}
			});
		}

        	var errorCounter = 0;
    function runUpdate() { // host controller, refresh
			        setTimeout(runUpdate, 1000);
			        $.ajax({
				        type: "POST",
                        url: '@Url.Action("Refresh", "Host")',
                        data: { meetingIdString : "@ViewBag.meetingid" },
                        success: function (result) {

                            if (result == "-1") {
                                var res = result.toString();
                                var split = res.split(';')

                                    var foblabel = document.getElementById('fobcount');
                                    foblabel.textContent = split[0];

                                    var topiclabel = document.getElementById('topiccount');
                                    topiclabel.textContent = split[1];
                                }
                                else {
                                    alert("Meeting closed");
                                }
				        },
                        error: function () {
					        errorCounter++;
					        if (errorCounter >= 30) {
						        //alert("Connection error. Returning to home page")
						        errorCounter = 0;
						        window.location = "index";
					        }
				        }
			        });
    }

    function hey() {
        alert("hello there");
        alert("General Kenobi");
    }

    window.addEventListener('load', function () {
        runUpdate();
    })

</script>

<h1>@ViewBag.Title @ViewBag.meetingid</h1>


<div class="wrapper">
    <div class="hostwrapper">
        <p style="font-size:16px">
            Topic #:
            <label id="topiccount"> *</label>
        </p>
        <button class="buttonhost" onclick="reset()" onload="load()">Next Topic</button>
        <br />
        <br />
        <p style="font-size:24px">
            # of fobs:
            <label id="fobcount"> *</label>
        </p>
    </div>
</div>


<footer>
    <div id="outer">


        <div class="inner">
            <a href="@Url.Action("QrCode","Host",new { meetingIdString = @ViewBag.meetingid })" target="_blank">
                <button class="footerButton" id="buttonQRGen" name="message">QR Code</button>
            </a>
        </div>

        <div>
            <asp:Button ID="Button1" runat="server" Text="Button" onclick="Button1_Click"
                        OnClientClick="document.forms[0].target = '_blank';" />
        </div>

        <div class="inner">
            @using (Html.BeginForm("leave", "Host", FormMethod.Post))
            {
                <button class="footerButton" id="buttonLeave" name="message" value="Meeting left">Leave</button>
            }
        </div>
        <div class="inner">
            @using (Html.BeginForm("finish", "Host", FormMethod.Post))
            {
                <button class="footerButton" id="buttonExit" name="message" value="@ViewBag.meetingid">Finish</button>
            }
        </div>
    </div>
</footer>
